0 ICON "Icon_1.ico"

1 VERSIONINFO
FILEVERSION 5,4,6,0
PRODUCTVERSION 5,4,6,0
FILEOS 0x0
FILETYPE 0x0
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904b0"
		{
			VALUE "Comments", "www.lua.org"
			VALUE "CompanyName", "Lua.org"
			VALUE "FileDescription", "Lua Console Standalone Compiler"
			VALUE "FileVersion", "5.4.6"
			VALUE "LegalCopyright", "Copyright © 1994-2023 Lua.org, PUC-Rio."
			VALUE "OriginalFilename", "luac.exe"
			VALUE "ProductName", "Lua - The Programming Language"
			VALUE "ProductVersion", "5.4.6"
			VALUE "PrivateBuild", "Build by Joe DF (joedf@ahkscript.org)"
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0409, 0x04E4
	}
}