table {
	margin-bottom: 20px;
	width: 100%;
}

th {
	border-top: 0 none;
}

td {
	border-top: 1px solid #DDDDDD;
}

th, td {
	text-align: left;
}

table[data-sortable] th, table[data-sortable] td {
	padding: 4px !important;
}

tbody tr:nth-child(2n+1) th,
tbody tr:nth-child(2n+1) td {
	background-color: #F9F9F9;
}


#footer {
	font-size:x-small;
}

h1:first-child {
	font-size: 40px;
	padding-bottom: 5px;
}

h1 > small {
	display: inline-block;
	font-size: .5em;
	margin-top: .5em;
}

h2 {
	border-color: #468847;
	color: #468847;
	border-style: solid;
	border-width: 0 0 1px;
}

h1 a, h2 a {
	color: inherit;
}

summary {
	cursor: pointer;
}

summary > h2 {
	 display: inline;
}

summary::marker {
	color: #468847
}

.com {
	//text-align: center;
	font-weight: bold;
}

#lualogo {
	width: 92px;
	height: 92px;
}

#lualogolink {
	border:0;
	padding:0;
}

a {
	text-decoration: none;
}

a:active {
	position: relative;
	top: 1px;
}

/*
a:hover:not(#lualogolink) {
	background-color: #D0D0FF;
}
*/