#include "common.h"
0  ICON  "lua.ico"

1 VERSIONINFO
FILEVERSION LUA_VERSION
PRODUCTVERSION LUA_VERSION
FILEOS 0x0
FILETYPE 0x0
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904b0"
		{
			VALUE "Comments", G_COMMENTS
			VALUE "CompanyName", G_COMPANYNAME
			VALUE "FileDescription", "Lua script to executable glue tool"
			VALUE "FileVersion", LUA_VERSION_STR
			VALUE "LegalCopyright", G_LEGALCOPYRIGHT
			VALUE "OriginalFilename", "srglue.exe"
			VALUE "ProductName", "srglue - Lua script to executable glue tool"
			VALUE "ProductVersion", LUA_VERSION_STR
			VALUE "PrivateBuild", G_PRIVATEBUILD
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0409, 0x04E4
	}
}