0  ICON  "lua.ico"

1 VERSIONINFO
FILEVERSION 5,4,2,0
PRODUCTVERSION 5,4,2,0
FILEOS 0x0
FILETYPE 0x0
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904b0"
		{
			VALUE "Comments", "www.lua.org"
			VALUE "CompanyName", "Lua.org"
			VALUE "FileDescription", "Lua script to executable glue tool"
			VALUE "FileVersion", "5.4.2"
			VALUE "LegalCopyright", "Copyright © 1994-2021 Lua.org, PUC-Rio."
			VALUE "OriginalFilename", "srglue.exe"
			VALUE "ProductName", "srglue - Lua script to executable glue tool"
			VALUE "ProductVersion", "5.4.2"
			VALUE "PrivateBuild", "Build by Joe DF (joedf@ahkscript.org)"
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0409, 0x04E4
	}
}